<!DOCTYPE html>
   <head>
        <meta charset="utf-8">
      <title>RPi 3D Control</title>
      <link rel="stylesheet" href='../static/master.css'/>
   </head>

   <body onload="setHrefs()">
        <div class="border-div">
            Сейчас работает программа <p>{{ nowProgram }}</p>
            <br>
            Состояние <p>{{ workStatus }}</p>
            <progress max="100" value="{{ progress }}"></progress>
            <div>
                <a><button class="button" id="stop_button"> Стоп </button></a>
                <a><button class="button" id="start_button"> Старт </button></a>
                <a><button class="button" id="pause_button"> Пауза </button></a>
            </div>
        </div>
        <br>
        <hr>
        <div class="border-div">
            <h3>Ручное управление столом</h3>
            Шагов в 360 градусах: {{ steps }} <br><br>
            Шаг(шаги) = <input value="36" id="steps_input" onchange="setHrefs()"> <br><br>
            Поворот<br>
            <div>
                <a href="" id="turn_left_button"><button class="button"> ← Влево </button></a>
                <a href="" id="turn_right_button" onclick="updateProgress('turn_right')"><button class="button"> Вправо → </button></a>
            </div>

        </div>

   <script>
       let updateTimer;
       var ip = "192.168.31.25";
       function getSteps() {
            var steps = document.getElementById('steps_input').value;
            return steps;
        }

        function getHref(a, s = getSteps()) {
            console.log('/'+ a +'/'+ s);
            return '/'+ a +'/'+ s;
        }
        function setHrefs(){
          //  document.getElementById('turn_left_button').href = getHref("turn_left");
          //  document.getElementById('turn_right_button').href = getHref("turn_right");
        }
        function updateProgress(s) {
            updateTimer = setInterval(update(s), 500);
        }
        function update(s) {
            console.log(document.URL + getHref(s));
            window.location.href = document.URL + getHref(s);
        }
   </script>
   </body>
</html>
